.nav_link {
  text-decoration: none;
  color: var(--amplify-colors-font-secondary);
  text-transform: uppercase;
  transition: 250ms;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.nav_link:hover {
  color: var(--amplify-colors-brand-primary-80);
  border-bottom: 2px solid var(--amplify-colors-brand-primary-80);
}

.active {
  color: var(--amplify-colors-brand-primary-80);
  border-bottom: 2px solid var(--amplify-colors-brand-primary-80);
}
