@use "./assets/styles/breakpoints.scss" as *;

.wrapper {
  min-height: 100vh;
  background-color: var(--amplify-colors-background-primary);
}

.manageWrapper {
  @include for-tablet-lg-up {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
  }
}
